body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  transition: opacity 0.5s; /* CSS transition for fading effect */
}

.choice-container {
  display: flex;
  justify-content: space-between; /* This places the buttons at the ends */
  align-items: stretch; /* Vertically centers the buttons */
  height: 100vh;
}

.choice-button {
  flex: 1; /* This makes both buttons take up equal space */
  font-size: 24px;
  padding: 20px 40px;
  margin: 10px;
  border: none;
  color: black;
  cursor: pointer;
  border-radius:5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

 #debator-button {
  background-color: white;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

#audience-button {
  background-color: white; 
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  
}

#audience-button:hover {
  background-color: black;
  color:white;
  transform: scale(1.05)
}

#debator-button:hover {
  background-color: black;
  color:white;
  transform:scale(1.05)
}



